html {
background-color: #0d304e;
font-family: sans-serif;
}

html, body {
max-width: 100%;
overflow-x: hidden;
}

h1 {
text-align: center;
color: magenta;
font-size: 48px;
font-weight: bold;
font-family: sans-serif;
}

.heading {
text-align: left;
font-family: sans-serif;
}

.main-body {
color: white;
font-family: sans-serif;
}

.NFTs {
text-align: center;
font-size: 25px;
color: #3385FF;
margin-top: 50px;
margin-bottom: 50px;
justify-content: center;
align-content: center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #0d304e;
}

li {
display: inline-block;
}

li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: #FF00FF;
;
}

.active {
background-color: magenta;
}

li a:hover:not(.active) {
background-color:#FF00FF;
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position:absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
display: block;
}

.Metaverse {
font-size: 25px;
text-align: center;
color: #3385FF;
margin-top: 50px;
margin-bottom: 50px;
justify-content: center;
align-content: center;
}

li {
margin: 10px;
}

img {
width:50%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
object-fit: contain;
height: 600px;
width: 600px;
}

.container {
display: flex;
align-items: center;
justify-content: center;
}

.exchanges {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 50%;
    width: 50%;
}

.Web3 {
text-align: center;
font-size: 25px;
color: #3385FF;
margin-top: 50px;
margin-bottom: 50px;
justify-content: center;
align-content: center;
}

.twitter-tweet {
display: block;
margin-left: auto;
margin-right: auto;
object-fit: contain;
width: 10%;
}

.nav {
margin: 0 auto;
display: inline-block;
} 

.paragraph {
color: #93c2db;
font-family: "Inter", sans-serif;
margin-left: 80px;
margin-right: 80px;
margin-top: 40px;
margin-bottom: -10px;
}

.navigation {
text-align: center;
color: #3385FF;
display: inline-block;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  top: 0;
  Left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.active {
background-color: magenta;
}

#myBtn {
display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 20px; /* Place the button at the bottom of the page */
right: 30px; /* Place the button 30px from the right */
z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */
background-color: black; /* Set a background color */
color: magenta; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 10px; /* Rounded corners */
font-size: 18px; /* Increase font size */
}

#myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
}

.m {
  color: #3385FF;
}

.mb {
display: flex;
justify-content: center;
align-self: center;
display: list-item;
list-style-type: 1;
list-style-position: inside; 
}

.sc {
display: flex;
justify-content: center;
align-self: center;
display: list-item;
list-style-type: disc;
list-style-position: inside; 
}

.link {
  color: magenta;
}

.r {
height: 50%;
width: 50%;
margin-left: 20%;
margin-right: 5%;
}

.ng {
    height: 50%;
    width: 50%;
    margin-right: 5%;
}

.sr {
    height: 50%;
    width: 50%;
    margin-right: 5%;
}

.BAYC1 {
    padding-right: 2em;
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.BAYC2 {
    padding-left: 2em;
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
}

  @media all and (max-width: 1000px) { 

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    p { 
        overflow: hidden;
    }

    .paragraph {

        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;

    }
 
    img {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 75%;
    }
    
    .twitter-tweet {
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;
        width: 7.5%;
        }

    .exchanges {
        justify-content: space-between;
        align-content: space-between;
        margin-top: 10%;
        margin-bottom: 10%;
        flex-direction: column;
        align-items: center;                     
        display: flex;
        width: 75%;
    }

    .container {
        align-content: space-between;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        margin-top: 10%;
    }


    .blockgeeks {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;    
    }

    .uniswap {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 75%;
    }

    .wallets {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 75%;
    }

    .NFTs {
        margin-top: 15%;
        margin-bottom: 15%;
        justify-content: center;
        align-content: center;
    }

    .Metaverse {
        margin-top: 15%;
        margin-bottom: 15%;
        justify-content: center;
        align-content: center;

    }

    .Web3 {
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        align-content: center;
    }

    .metamask {
        margin-bottom: 20%;
        margin-top: 20%;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 75%;
        display: block;    
}

.ERC20 {
    margin-top: 15%;
    margin-bottom: 15%;
}

.readyplayerone {
    justify-content: center;
    align-content: center;
}

.OpenSea {
    margin-top: 10%;
}

.BAYC1 {
    padding-right: 0em;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.BAYC2 {
    padding-left: 0em;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.CryptoKitties {
    width: 75%;
    height: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.maus {
    margin-bottom: 17.5%;
    margin-top: 17.5%;
}

.r {
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;

}

.ng {
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
}

.sr {
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
}

  }
